<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230219.83348-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230219.73454-sym" targetFramework="net481" />
  <package id="Accord" version="3.8.0" targetFramework="net481" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net481" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml" version="2.19.0" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="3.0.2" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="3.0.2" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.220731.182834" targetFramework="net48" />
  <package id="nilnul._acc_._LINQ_" version="1.1.220731.182834" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.230322.111738-sym" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230402.92104-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230404.120950-sym" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net48" />
  <package id="nilnul._email_._LIB_" version="1.1.220917.102117" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.230118.82646-sym" targetFramework="net481" />
  <package id="nilnul._geometry_._LIB_" version="1.0.8051.600" targetFramework="net48" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net48" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net48" />
  <package id="nilnul._linq_._LIB_" version="1.1.220906.140610" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230404.164936-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230404.125713-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230403.64636-sym" targetFramework="net481" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.230111.120633-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230318.123603-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230321.135854-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.230319.90029-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.230107.122025-sym" targetFramework="net481" />
  <package id="nilnul._web_._LIB_" version="1.1.230219.84309-sym" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.221219.174250" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.221119.43115" targetFramework="net481" />
  <package id="nilnul.blob_._excel_._LIB_" version="1.1.230321.171520-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net48" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.220815.32404" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.230330.184447-sym" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.220731.183914" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230402.101933-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230401.163801-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.230405.73423-sym" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.230316.155248-sym" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.230328.42932-sym" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.230326.60817-sym" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="7.0.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.2-mauipre.1.22102.15" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>